jus_cache
bin
gen
.gradle
build
.settings
target
*.iml
.idea
.gradle
local.properties
.idea
.idea/workspace.xml
.idea/libraries
.DS_Store
/build
*.iml
*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear

# gulp.js


# gh-pages
_site
.jekyll-metadata
.gulp/
node_modules/
npm-debug.log
assets
Gemfile.lock